.happy-icon {
    color: red;
    font-size: 30px;
}

.fullstar {
    color: lightgreen;
}

.client-pic {
    height: 150px;
    margin: 0 auto;
    border-radius: 50px;

}

.customer-says {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.customer-says:hover {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-edge.png"),
        auto;
}

.special {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.single-pic {
    padding: 10px;
}

.client-info {
    padding: 0px 20px 20px 10px;
}

.headline {
    color: lightseagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}